/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.achorpane{
	-fx-font-family: "Arial";
	-fx-background-image: url("/img/softambience.jpg");	
	
}

.button{
	-fx-background-color: linear-gradient(#9EA7E5, #61a2b1);
	-fx-background-radius: 40px;
}

.label.img {
	-fx-background-image: url("/img/icons8_courses_96px.png");	
	
}

.label.close{
	-fx-background-image: url("/img/icons8_multiply_26px.png"); 
}

.label.minimize{
	-fx-background-image: url("/img/icons8_minimize_window_24px.png"); 
}